* {
    box-sizing: border-box;
}
body {
    margin: 100px;
    background-color:rgb(224, 224, 224);
}

h1 {
    font-size: 50px;
    font-family: "Segoe UI Light","Times New Roman", serif;
    font-weight: 900;
    text-align: center;
    color:rgb(76, 145, 39);

}

p {
    font-size: 30px; 
    font-family: "Segoe UI Light","Times New Roman", serif;
    text-align: center;
    color:rgb(76, 145, 39);
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(203, 240, 183);
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background-color:rgb(132, 133, 106);
    border-radius: 10%;
}

.snakeHead {
    background-color:rgb(100, 87, 45);
    border-radius: 20%;
}

.mouse {
    background-image: url(мышь.png);
    background-size: cover;
}
